apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: GitRepository
metadata:
  name: {{.Name}}
  namespace: {{.Namespace}}
spec:
{{- if (ne .Spec.Interval.Duration 0) }}
  interval: {{.Spec.Interval.Duration}}
{{- end}}
  url: {{.Spec.URL}}
